/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/scss/bootstrap";

 .alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

/***** 全体設定 *****/
.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

/* 全体画面（フッターの余白を埋める） */
body {
  padding-top: 56px;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}


footer {
  background-color: blue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 32px;
}

/***** フッター 戻るボタン *****/
#page_top{
  width: 40px;
  height: 40px;
  position: fixed;
  right: 100px;
  bottom: 20px;
  background: #ba2636;
  opacity: 0.6;
}

#page_top a{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  text-decoration: none;
}

#page_top a::after{
  content: '▲';
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 992px) {
  #page_top{
  right: 50px;
  }
}

@media screen and (max-width: 576px) {
  #page_top{
  right: 0px;
  }
}