<footer class="footer-bottom">
  <div class="container">
    <p class="float-right">
      <div id="page_top"><a href="#"></a></div>
    </p>
    <p class="text-muted text-center">&copy; 2022. よりもいMAP</p>
  </div>
</footer>